nav{
    background: #ffffff;
    box-shadow:  20px 20px 60px #d9d9d9,
                 20px 20px 60px #ffffff;
    width: 100%;
    height: 100%;
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

nav a{
    width: 100%;
    text-decoration: none;
}

nav a:hover{
    text-decoration: none;
}

img{
    width: 20px;
}

@media (max-width:650px) {
    nav p{
        display: none;
    }
}

@media (min-width:920px) {
    button{
        margin-top: 2px;
    }
    nav{
        align-items: flex-start;
    }
}