*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  height: 100vh;
}

body::-webkit-scrollbar {
  width: 8px;              /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: white;       /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #20A4F3;    /* color of the scroll thumb */      /* roundness of the scroll thumb */
  border: 3px solid #20A4F3;
  border-radius: 5px;  /* creates padding around scroll thumb */
}

